*{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #630699;
}

nav{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

nav a{
    color: #7D9AE3;
}

h1{
    color: #807B79;
}

main{
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 20px;
    margin: 20px;
}

article{
    border: 1px solid #0AFA4A;
    padding: 15px;
    flex: 1;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #dddddd;
}

.presentacion{
    font-size: 20px;
}
.container{
    width: 200px;
    height: 200px;
    justify-content: flex-end;
}

.item1{
    background-color: #630699;
}

.item2{
    background-color: #7D9AE3;
}

.item3{
    background-color: #0AFA4A;
}

.item4{
    background-color: #dddddd;
}
.proyectos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
aside{
    border: 1px solid #43839a;
    text-align: center;
    margin: 0 0 20px 0;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
        align-items: flex-start;
    }

    nav{
        flex-direction: column;
        gap: 10px;
    }

    main{
        grid-template-columns: 1fr;
    }

    .proyectos{
        flex-direction: column;
    }
}